@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background: #000;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.responsive {
    max-width: 100%;
}

.container {
    background: #000;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 10px;
}

.box1 {
    width: 40%;
    height: 400px;
    display: inline-block;
}

.box2 {
    width: 40%;
    display: inline-block;
}

.ocultar {
    display: none;
}

.mostrar {
    display: inline-block;
}

.link-bacardi {
    border: 1px solid #fff;
    padding: 10px;
}

#div1 {
    width: 100%;
    min-height: 100px;
    padding: 10px;
}

#coctelCompleto {
    background-image: url('../img/luzFondo.png');
    background-size: cover;
    width: 100%;
    height: 300px;
}

#contenedor {
    width: 40%;
    height: 200px;
    border: 1px solid #fff;
}

#div2 {
    height: 100px;
}